// Code generated by Fern. DO NOT EDIT.

package integrations

import (
	context "context"
	gosdk "github.com/islo-labs/go-sdk"
	core "github.com/islo-labs/go-sdk/core"
	internal "github.com/islo-labs/go-sdk/internal"
	option "github.com/islo-labs/go-sdk/option"
	http "net/http"
)

type Client struct {
	baseURL string
	caller  *internal.Caller
	header  http.Header
}

func NewClient(opts ...option.RequestOption) *Client {
	options := core.NewRequestOptions(opts...)
	return &Client{
		baseURL: options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:      options.HTTPClient,
				MaxAttempts: options.MaxAttempts,
			},
		),
		header: options.ToHeader(),
	}
}

// List available preset providers and their pre-provisioned Descope apps.
//
// The “apps“ array carries every (auth_method, scope) -> app_id combo a
// preset supports, so the modal can resolve the right “app_id“ locally
// and skip a server round-trip on the connect path.
func (c *Client) ListIntegrationProviders(
	ctx context.Context,
	opts ...option.RequestOption,
) (*gosdk.IntegrationProvidersResponse, error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.islo.dev",
	)
	endpointURL := baseURL + "/integrations/providers"
	headers := internal.MergeHeaders(
		c.header.Clone(),
		options.ToHeader(),
	)

	var response *gosdk.IntegrationProvidersResponse
	if err := c.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        &response,
		},
	); err != nil {
		return nil, err
	}
	return response, nil
}

// List the integrations the user/tenant has connected.
//
// Includes preset providers (from the PROVIDERS registry) and tenant-scoped
// custom outbound apps (filtered out of Descope's load_all_applications).
// Returns one entry per connected (provider, scope, auth_type) slot, so a
// provider with both a personal api_key and a personal oauth token will
// appear twice. Disconnected slots are not emitted; clients that need a
// list of available-but-not-connected providers should call
// “GET /integrations/providers“ instead.
func (c *Client) ListIntegrations(
	ctx context.Context,
	opts ...option.RequestOption,
) (*gosdk.IntegrationListResponse, error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.islo.dev",
	)
	endpointURL := baseURL + "/integrations"
	headers := internal.MergeHeaders(
		c.header.Clone(),
		options.ToHeader(),
	)
	errorCodes := internal.ErrorCodes{
		401: func(apiError *core.APIError) error {
			return &gosdk.UnauthorizedError{
				APIError: apiError,
			}
		},
		422: func(apiError *core.APIError) error {
			return &gosdk.UnprocessableEntityError{
				APIError: apiError,
			}
		},
	}

	var response *gosdk.IntegrationListResponse
	if err := c.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        &response,
			ErrorDecoder:    internal.NewErrorDecoder(errorCodes),
		},
	); err != nil {
		return nil, err
	}
	return response, nil
}

// List custom service definitions in the current tenant (catalog view).
//
// Returns every custom Descope app belonging to the tenant regardless of
// connection status, so the Add Integration picker can surface them for
// any tenant member to connect to. Connection state (per-user/per-workspace
// tokens) lives on “GET /integrations“; this endpoint is purely the
// service catalog.
func (c *Client) ListCustomServices(
	ctx context.Context,
	opts ...option.RequestOption,
) (*gosdk.CustomServicesResponse, error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.islo.dev",
	)
	endpointURL := baseURL + "/integrations/custom-services"
	headers := internal.MergeHeaders(
		c.header.Clone(),
		options.ToHeader(),
	)
	errorCodes := internal.ErrorCodes{
		401: func(apiError *core.APIError) error {
			return &gosdk.UnauthorizedError{
				APIError: apiError,
			}
		},
		422: func(apiError *core.APIError) error {
			return &gosdk.UnprocessableEntityError{
				APIError: apiError,
			}
		},
	}

	var response *gosdk.CustomServicesResponse
	if err := c.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        &response,
			ErrorDecoder:    internal.NewErrorDecoder(errorCodes),
		},
	); err != nil {
		return nil, err
	}
	return response, nil
}

// Create a tenant-scoped custom Descope outbound app.
//
// Returns the “app_id“ so the frontend can immediately kick off the
// connect flow (OAuth) or surface the API key form. Presets do not pass
// through this endpoint -- their app ids come straight from
// “GET /integrations/providers“.
func (c *Client) CreateCustomService(
	ctx context.Context,
	request *gosdk.CustomServiceCreateRequest,
	opts ...option.RequestOption,
) (*gosdk.CustomServiceCreateResponse, error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.islo.dev",
	)
	endpointURL := baseURL + "/integrations/custom-services"
	headers := internal.MergeHeaders(
		c.header.Clone(),
		options.ToHeader(),
	)
	headers.Set("Content-Type", "application/json")
	errorCodes := internal.ErrorCodes{
		400: func(apiError *core.APIError) error {
			return &gosdk.BadRequestError{
				APIError: apiError,
			}
		},
		401: func(apiError *core.APIError) error {
			return &gosdk.UnauthorizedError{
				APIError: apiError,
			}
		},
		422: func(apiError *core.APIError) error {
			return &gosdk.UnprocessableEntityError{
				APIError: apiError,
			}
		},
	}

	var response *gosdk.CustomServiceCreateResponse
	if err := c.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodPost,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Request:         request,
			Response:        &response,
			ErrorDecoder:    internal.NewErrorDecoder(errorCodes),
		},
	); err != nil {
		return nil, err
	}
	return response, nil
}

// Disconnect a custom integration by its Descope app ID.
//
// Authorization is by deterministic-ID prefix: only apps whose ID matches
// “cust-{tenant-prefix}-“ are accepted, which scopes the operation to the
// caller's workspace without a DB lookup. “scope“ selects which side's
// tokens to revoke (per-user vs tenant-wide); “delete_app=true“ removes
// the Descope app entirely (affects every user in the workspace).
func (c *Client) DisconnectCustomIntegration(
	ctx context.Context,
	request *gosdk.DisconnectCustomIntegrationRequest,
	opts ...option.RequestOption,
) (map[string]interface{}, error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.islo.dev",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/integrations/custom/%v",
		request.DescopeAppID,
	)
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	if len(queryParams) > 0 {
		endpointURL += "?" + queryParams.Encode()
	}
	headers := internal.MergeHeaders(
		c.header.Clone(),
		options.ToHeader(),
	)
	errorCodes := internal.ErrorCodes{
		400: func(apiError *core.APIError) error {
			return &gosdk.BadRequestError{
				APIError: apiError,
			}
		},
		401: func(apiError *core.APIError) error {
			return &gosdk.UnauthorizedError{
				APIError: apiError,
			}
		},
		404: func(apiError *core.APIError) error {
			return &gosdk.NotFoundError{
				APIError: apiError,
			}
		},
		422: func(apiError *core.APIError) error {
			return &gosdk.UnprocessableEntityError{
				APIError: apiError,
			}
		},
	}

	var response map[string]interface{}
	if err := c.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodDelete,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        &response,
			ErrorDecoder:    internal.NewErrorDecoder(errorCodes),
		},
	); err != nil {
		return nil, err
	}
	return response, nil
}

// Get the detailed status of a specific integration.
//
// Returns both user-level and tenant-level connection status independently.
func (c *Client) GetIntegrationStatus(
	ctx context.Context,
	request *gosdk.GetIntegrationStatusRequest,
	opts ...option.RequestOption,
) (*gosdk.IntegrationDetailResponse, error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.islo.dev",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/integrations/%v",
		request.Provider,
	)
	headers := internal.MergeHeaders(
		c.header.Clone(),
		options.ToHeader(),
	)
	errorCodes := internal.ErrorCodes{
		401: func(apiError *core.APIError) error {
			return &gosdk.UnauthorizedError{
				APIError: apiError,
			}
		},
		404: func(apiError *core.APIError) error {
			return &gosdk.NotFoundError{
				APIError: apiError,
			}
		},
		422: func(apiError *core.APIError) error {
			return &gosdk.UnprocessableEntityError{
				APIError: apiError,
			}
		},
	}

	var response *gosdk.IntegrationDetailResponse
	if err := c.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        &response,
			ErrorDecoder:    internal.NewErrorDecoder(errorCodes),
		},
	); err != nil {
		return nil, err
	}
	return response, nil
}

// Disconnect/revoke an integration.
//
// Args:
//
//	provider: Provider name
//	level: Which level to disconnect (USER or TENANT)
//	auth_type: Optional. Defaults to provider's primary type.
func (c *Client) DisconnectIntegration(
	ctx context.Context,
	request *gosdk.DisconnectIntegrationRequest,
	opts ...option.RequestOption,
) (map[string]interface{}, error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.islo.dev",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/integrations/%v",
		request.Provider,
	)
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	if len(queryParams) > 0 {
		endpointURL += "?" + queryParams.Encode()
	}
	headers := internal.MergeHeaders(
		c.header.Clone(),
		options.ToHeader(),
	)
	errorCodes := internal.ErrorCodes{
		400: func(apiError *core.APIError) error {
			return &gosdk.BadRequestError{
				APIError: apiError,
			}
		},
		401: func(apiError *core.APIError) error {
			return &gosdk.UnauthorizedError{
				APIError: apiError,
			}
		},
		404: func(apiError *core.APIError) error {
			return &gosdk.NotFoundError{
				APIError: apiError,
			}
		},
		422: func(apiError *core.APIError) error {
			return &gosdk.UnprocessableEntityError{
				APIError: apiError,
			}
		},
	}

	var response map[string]interface{}
	if err := c.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodDelete,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        &response,
			ErrorDecoder:    internal.NewErrorDecoder(errorCodes),
		},
	); err != nil {
		return nil, err
	}
	return response, nil
}
