// Code generated by Fern. DO NOT EDIT.

package factory

import (
	context "context"
	http "net/http"
	os "os"

	gosdk "github.com/islo-labs/go-sdk"
	core "github.com/islo-labs/go-sdk/core"
	internal "github.com/islo-labs/go-sdk/internal"
	option "github.com/islo-labs/go-sdk/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	if options.APIKey == "" {
		options.APIKey = os.Getenv("ISLO_API_KEY")
	}
	if options.APIVersion == "" {
		options.APIVersion = "2026-09-15"
	}
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// Example:
//
//	request := &gosdk.ValidateFactoryLineManifestRequest{
//	    Name: "name",
//	    Body: &gosdk.LineDeployRequest{
//	        Manifest: &gosdk.LineManifestInput{
//	            Line: &gosdk.LineSection{
//	                Name: "name",
//	            },
//	            Trigger: &gosdk.LineManifestInputTrigger{
//	                IntegrationTrigger: &gosdk.IntegrationTriggerSectionInput{
//	                    Provider: "provider",
//	                    Name: "name",
//	                    Selector: &gosdk.IntegrationTriggerSectionInputSelector{
//	                        Github: &gosdk.GitHubRepositorySelector{},
//	                    },
//	                },
//	            },
//	            Stages: []*gosdk.LineStage{
//	                &gosdk.LineStage{
//	                    ID: "id",
//	                    Job: "job",
//	                },
//	            },
//	        },
//	    },
//	}
//	client.Factory.ValidateFactoryLineManifest(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) ValidateFactoryLineManifest(
	ctx context.Context,
	request *gosdk.ValidateFactoryLineManifestRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.ValidateFactoryLineManifest(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// Example:
//
//	request := &gosdk.DeployFactoryLineRequest{
//	    Name: "name",
//	    Body: &gosdk.LineDeployRequest{
//	        Manifest: &gosdk.LineManifestInput{
//	            Line: &gosdk.LineSection{
//	                Name: "name",
//	            },
//	            Trigger: &gosdk.LineManifestInputTrigger{
//	                IntegrationTrigger: &gosdk.IntegrationTriggerSectionInput{
//	                    Provider: "provider",
//	                    Name: "name",
//	                    Selector: &gosdk.IntegrationTriggerSectionInputSelector{
//	                        Github: &gosdk.GitHubRepositorySelector{},
//	                    },
//	                },
//	            },
//	            Stages: []*gosdk.LineStage{
//	                &gosdk.LineStage{
//	                    ID: "id",
//	                    Job: "job",
//	                },
//	            },
//	        },
//	    },
//	}
//	client.Factory.DeployFactoryLine(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) DeployFactoryLine(
	ctx context.Context,
	request *gosdk.DeployFactoryLineRequest,
	opts ...option.RequestOption,
) (*gosdk.LineVersionResponse, error) {
	response, err := c.WithRawResponse.DeployFactoryLine(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	request := &gosdk.ListFactoryLinesRequest{}
//	client.Factory.ListFactoryLines(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) ListFactoryLines(
	ctx context.Context,
	request *gosdk.ListFactoryLinesRequest,
	opts ...option.RequestOption,
) ([]*gosdk.LineResponse, error) {
	response, err := c.WithRawResponse.ListFactoryLines(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	request := &gosdk.GetFactoryLineRequest{
//	    Name: "name",
//	}
//	client.Factory.GetFactoryLine(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) GetFactoryLine(
	ctx context.Context,
	request *gosdk.GetFactoryLineRequest,
	opts ...option.RequestOption,
) (*gosdk.LineResponse, error) {
	response, err := c.WithRawResponse.GetFactoryLine(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	request := &gosdk.DeleteFactoryLineRequest{
//	    Name: "name",
//	}
//	client.Factory.DeleteFactoryLine(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) DeleteFactoryLine(
	ctx context.Context,
	request *gosdk.DeleteFactoryLineRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.DeleteFactoryLine(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// Example:
//
//	request := &gosdk.UpdateFactoryLineRequest{
//	    Name: "name",
//	    Body: &gosdk.LineUpdate{},
//	}
//	client.Factory.UpdateFactoryLine(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) UpdateFactoryLine(
	ctx context.Context,
	request *gosdk.UpdateFactoryLineRequest,
	opts ...option.RequestOption,
) (*gosdk.LineResponse, error) {
	response, err := c.WithRawResponse.UpdateFactoryLine(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	request := &gosdk.ListFactoryLineVersionsRequest{
//	    Name: "name",
//	}
//	client.Factory.ListFactoryLineVersions(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) ListFactoryLineVersions(
	ctx context.Context,
	request *gosdk.ListFactoryLineVersionsRequest,
	opts ...option.RequestOption,
) ([]*gosdk.LineVersionResponse, error) {
	response, err := c.WithRawResponse.ListFactoryLineVersions(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	request := &gosdk.ListFactoryLineRunsForLineRequest{
//	    Name: "name",
//	}
//	client.Factory.ListFactoryLineRunsForLine(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) ListFactoryLineRunsForLine(
	ctx context.Context,
	request *gosdk.ListFactoryLineRunsForLineRequest,
	opts ...option.RequestOption,
) ([]*gosdk.LineRunSummary, error) {
	response, err := c.WithRawResponse.ListFactoryLineRunsForLine(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	request := &gosdk.TriggerFactoryLineRunRequest{
//	    Name: "name",
//	    Body: &gosdk.LineRunCreate{},
//	}
//	client.Factory.TriggerFactoryLineRun(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) TriggerFactoryLineRun(
	ctx context.Context,
	request *gosdk.TriggerFactoryLineRunRequest,
	opts ...option.RequestOption,
) (*gosdk.LineRunDetail, error) {
	response, err := c.WithRawResponse.TriggerFactoryLineRun(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	request := &gosdk.ListFactoryLineRunsRequest{}
//	client.Factory.ListFactoryLineRuns(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) ListFactoryLineRuns(
	ctx context.Context,
	request *gosdk.ListFactoryLineRunsRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *gosdk.LineRunSummary, *gosdk.ListPageLineRunSummary], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		internal.ResolveEnvironmentBaseURL(
			options.Environment,
			"Control",
		),
		c.baseURL,
		internal.ResolveEnvironmentBaseURL(
			c.options.Environment,
			"Control",
		),
		"https://api.islo.dev",
	)
	endpointURL := baseURL + "/factory/line-runs"
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("cursor", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			DisableRetries:  options.DisableRetries,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(gosdk.ErrorCodes),
		}
	}
	readPageResponse := func(response *gosdk.ListPageLineRunSummary) *core.PageResponse[*string, *gosdk.LineRunSummary, *gosdk.ListPageLineRunSummary] {
		var zeroValue *string
		next := response.GetNextCursor()
		results := response.GetItems()
		return &core.PageResponse[*string, *gosdk.LineRunSummary, *gosdk.ListPageLineRunSummary]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue || *next == "",
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.Cursor)
}

// Example:
//
//	request := &gosdk.ListFactoryLineRunFacetsRequest{
//	    Fields: []*string{
//	        gosdk.String(
//	            "fields",
//	        ),
//	    },
//	}
//	client.Factory.ListFactoryLineRunFacets(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) ListFactoryLineRunFacets(
	ctx context.Context,
	request *gosdk.ListFactoryLineRunFacetsRequest,
	opts ...option.RequestOption,
) (*gosdk.FacetsResponse, error) {
	response, err := c.WithRawResponse.ListFactoryLineRunFacets(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	request := &gosdk.GetFactoryLineRunRequest{
//	    RunID: "run_id",
//	}
//	client.Factory.GetFactoryLineRun(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) GetFactoryLineRun(
	ctx context.Context,
	request *gosdk.GetFactoryLineRunRequest,
	opts ...option.RequestOption,
) (*gosdk.LineRunDetail, error) {
	response, err := c.WithRawResponse.GetFactoryLineRun(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Per-stage and per-step diagnostics for one line run, including the last failed stage attempt's first failing step, each step's exit code and output tails, and the sandbox environment each stage ran in.
//
// Example:
//
//	request := &gosdk.GetFactoryLineRunDebugRequest{
//	    RunID: "run_id",
//	}
//	client.Factory.GetFactoryLineRunDebug(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) GetFactoryLineRunDebug(
	ctx context.Context,
	request *gosdk.GetFactoryLineRunDebugRequest,
	opts ...option.RequestOption,
) (*gosdk.LineRunDebugResponse, error) {
	response, err := c.WithRawResponse.GetFactoryLineRunDebug(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	request := &gosdk.ListFactoryLineRunEventsRequest{
//	    RunID: "run_id",
//	}
//	client.Factory.ListFactoryLineRunEvents(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) ListFactoryLineRunEvents(
	ctx context.Context,
	request *gosdk.ListFactoryLineRunEventsRequest,
	opts ...option.RequestOption,
) (*gosdk.LineEventPage, error) {
	response, err := c.WithRawResponse.ListFactoryLineRunEvents(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	request := &gosdk.StopFactoryLineRunRequest{
//	    RunID: "run_id",
//	    Body: &gosdk.LineRunControlRequest{},
//	}
//	client.Factory.StopFactoryLineRun(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) StopFactoryLineRun(
	ctx context.Context,
	request *gosdk.StopFactoryLineRunRequest,
	opts ...option.RequestOption,
) (*gosdk.LineRunDetail, error) {
	response, err := c.WithRawResponse.StopFactoryLineRun(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	request := &gosdk.SteerFactoryLineRunRequest{
//	    RunID: "run_id",
//	    Body: &gosdk.LineRunSteerRequest{
//	        StageName: "stage_name",
//	    },
//	}
//	client.Factory.SteerFactoryLineRun(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) SteerFactoryLineRun(
	ctx context.Context,
	request *gosdk.SteerFactoryLineRunRequest,
	opts ...option.RequestOption,
) (*gosdk.LineRunDetail, error) {
	response, err := c.WithRawResponse.SteerFactoryLineRun(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	request := &gosdk.RetryFactoryLineRunRequest{
//	    RunID: "run_id",
//	}
//	client.Factory.RetryFactoryLineRun(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) RetryFactoryLineRun(
	ctx context.Context,
	request *gosdk.RetryFactoryLineRunRequest,
	opts ...option.RequestOption,
) (*gosdk.LineRunDetail, error) {
	response, err := c.WithRawResponse.RetryFactoryLineRun(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	request := &gosdk.CancelFactoryLineRunRequest{
//	    RunID: "run_id",
//	    Body: &gosdk.LineRunControlRequest{},
//	}
//	client.Factory.CancelFactoryLineRun(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) CancelFactoryLineRun(
	ctx context.Context,
	request *gosdk.CancelFactoryLineRunRequest,
	opts ...option.RequestOption,
) (*gosdk.LineRunDetail, error) {
	response, err := c.WithRawResponse.CancelFactoryLineRun(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	request := &gosdk.AskFactoryLineRunRequest{
//	    RunID: "run_id",
//	    Body: &gosdk.LineRunAskRequest{
//	        Message: "message",
//	    },
//	}
//	client.Factory.AskFactoryLineRun(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) AskFactoryLineRun(
	ctx context.Context,
	request *gosdk.AskFactoryLineRunRequest,
	opts ...option.RequestOption,
) (*gosdk.LineRunDetail, error) {
	response, err := c.WithRawResponse.AskFactoryLineRun(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	request := &gosdk.GetFactoryLineScheduleRequest{
//	    Name: "name",
//	}
//	client.Factory.GetFactoryLineSchedule(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) GetFactoryLineSchedule(
	ctx context.Context,
	request *gosdk.GetFactoryLineScheduleRequest,
	opts ...option.RequestOption,
) (*gosdk.LineScheduleResponse, error) {
	response, err := c.WithRawResponse.GetFactoryLineSchedule(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	request := &gosdk.UpsertFactoryLineScheduleRequest{
//	    Name: "name",
//	    Body: &gosdk.LineScheduleUpdate{
//	        Cron: "cron",
//	    },
//	}
//	client.Factory.UpsertFactoryLineSchedule(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) UpsertFactoryLineSchedule(
	ctx context.Context,
	request *gosdk.UpsertFactoryLineScheduleRequest,
	opts ...option.RequestOption,
) (*gosdk.LineScheduleResponse, error) {
	response, err := c.WithRawResponse.UpsertFactoryLineSchedule(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	request := &gosdk.DeleteFactoryLineScheduleRequest{
//	    Name: "name",
//	}
//	client.Factory.DeleteFactoryLineSchedule(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) DeleteFactoryLineSchedule(
	ctx context.Context,
	request *gosdk.DeleteFactoryLineScheduleRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.DeleteFactoryLineSchedule(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}
