// Code generated by Fern. DO NOT EDIT.

package gatewayinternal

import (
	context "context"
	fmt "fmt"
	gosdk "github.com/islo-labs/go-sdk"
	core "github.com/islo-labs/go-sdk/core"
	internal "github.com/islo-labs/go-sdk/internal"
	option "github.com/islo-labs/go-sdk/option"
	http "net/http"
	os "os"
)

type Client struct {
	baseURL string
	caller  *internal.Caller
	header  http.Header
}

func NewClient(opts ...option.RequestOption) *Client {
	options := core.NewRequestOptions(opts...)
	if options.APIKey == "" {
		options.APIKey = os.Getenv("ISLO_API_KEY")
	}
	return &Client{
		baseURL: options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:      options.HTTPClient,
				MaxAttempts: options.MaxAttempts,
			},
		),
		header: options.ToHeader(),
	}
}

// Stateless policy endpoint for the Rust gateway's ETag revalidation.
//
// - Parses “If-None-Match“ to extract profile_id, skipping PG on 304 path.
// - Redis MGET only on revalidation (~0.5ms).
// - Full PG load only on first request or version change.
func (c *Client) GetSandboxPolicy(
	ctx context.Context,
	request *gosdk.GetSandboxPolicyRequest,
	opts ...option.RequestOption,
) (interface{}, error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/internal/gateway/sandbox/%v/policy",
		request.SandboxID,
	)
	headers := internal.MergeHeaders(
		c.header.Clone(),
		options.ToHeader(),
	)
	if request.IfNoneMatch != nil {
		headers.Add("if-none-match", fmt.Sprintf("%v", *request.IfNoneMatch))
	}
	if request.PublicTenantID != nil {
		headers.Add("x-public-tenant-id", fmt.Sprintf("%v", *request.PublicTenantID))
	}
	if request.PublicUserID != nil {
		headers.Add("x-public-user-id", fmt.Sprintf("%v", *request.PublicUserID))
	}
	if request.SandboxID != nil {
		headers.Add("x-sandbox-id", fmt.Sprintf("%v", *request.SandboxID))
	}
	errorCodes := internal.ErrorCodes{
		422: func(apiError *core.APIError) error {
			return &gosdk.UnprocessableEntityError{
				APIError: apiError,
			}
		},
	}

	var response interface{}
	if err := c.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        &response,
			ErrorDecoder:    internal.NewErrorDecoder(errorCodes),
		},
	); err != nil {
		return nil, err
	}
	return response, nil
}

// Policy endpoint keyed by (tenant_id, profile_key) instead of sandbox lookup.
//
// Eliminates the race where vm_id isn't yet committed to Postgres.
// “x_sandbox_id“ is accepted for tracing but not used for policy resolution.
//
// Returns 404 (not a permissive default) when the profile is not found — this is
// intentional: a missing key means something is misconfigured, so the gateway should
// fail closed (503) rather than silently allow traffic.
func (c *Client) GetGatewayPolicyByKey(
	ctx context.Context,
	request *gosdk.GetGatewayPolicyByKeyRequest,
	opts ...option.RequestOption,
) (interface{}, error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/internal/gateway/policy/%v",
		request.ProfileKey,
	)
	headers := internal.MergeHeaders(
		c.header.Clone(),
		options.ToHeader(),
	)
	if request.SandboxID != nil {
		headers.Add("x-sandbox-id", fmt.Sprintf("%v", *request.SandboxID))
	}
	if request.IfNoneMatch != nil {
		headers.Add("if-none-match", fmt.Sprintf("%v", *request.IfNoneMatch))
	}
	if request.PublicTenantID != nil {
		headers.Add("x-public-tenant-id", fmt.Sprintf("%v", *request.PublicTenantID))
	}
	if request.PublicUserID != nil {
		headers.Add("x-public-user-id", fmt.Sprintf("%v", *request.PublicUserID))
	}
	errorCodes := internal.ErrorCodes{
		422: func(apiError *core.APIError) error {
			return &gosdk.UnprocessableEntityError{
				APIError: apiError,
			}
		},
	}

	var response interface{}
	if err := c.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        &response,
			ErrorDecoder:    internal.NewErrorDecoder(errorCodes),
		},
	); err != nil {
		return nil, err
	}
	return response, nil
}

// Token endpoint for the Rust gateway's credential injection.
//
// Wraps the existing “_token_cache“ + “get_integration_token“ and returns
// “access_token“ + “ttl_seconds“ so the Rust gateway can cache locally.
func (c *Client) GetGatewayToken(
	ctx context.Context,
	request *gosdk.GetGatewayTokenRequest,
	opts ...option.RequestOption,
) (interface{}, error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"",
	)
	endpointURL := baseURL + "/internal/gateway/token"
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	if len(queryParams) > 0 {
		endpointURL += "?" + queryParams.Encode()
	}
	headers := internal.MergeHeaders(
		c.header.Clone(),
		options.ToHeader(),
	)
	if request.PublicTenantID != nil {
		headers.Add("x-public-tenant-id", fmt.Sprintf("%v", *request.PublicTenantID))
	}
	if request.PublicUserID != nil {
		headers.Add("x-public-user-id", fmt.Sprintf("%v", *request.PublicUserID))
	}
	if request.SandboxID != nil {
		headers.Add("x-sandbox-id", fmt.Sprintf("%v", *request.SandboxID))
	}
	errorCodes := internal.ErrorCodes{
		422: func(apiError *core.APIError) error {
			return &gosdk.UnprocessableEntityError{
				APIError: apiError,
			}
		},
	}

	var response interface{}
	if err := c.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        &response,
			ErrorDecoder:    internal.NewErrorDecoder(errorCodes),
		},
	); err != nil {
		return nil, err
	}
	return response, nil
}
