// Code generated by Fern. DO NOT EDIT.

package machines

import (
	context "context"
	http "net/http"
	os "os"

	gosdk "github.com/islo-labs/go-sdk"
	core "github.com/islo-labs/go-sdk/core"
	internal "github.com/islo-labs/go-sdk/internal"
	option "github.com/islo-labs/go-sdk/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	if options.APIKey == "" {
		options.APIKey = os.Getenv("ISLO_API_KEY")
	}
	if options.APIVersion == "" {
		options.APIVersion = "2026-09-15"
	}
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// Example:
//
//	request := &gosdk.ListFactoryMachinesRequest{
//	    Factory: "factory",
//	}
//	client.Machines.ListFactoryMachines(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) ListFactoryMachines(
	ctx context.Context,
	request *gosdk.ListFactoryMachinesRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *gosdk.MachineResponse, *gosdk.ListPageMachineResponse], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		internal.ResolveEnvironmentBaseURL(
			options.Environment,
			"Control",
		),
		c.baseURL,
		internal.ResolveEnvironmentBaseURL(
			c.options.Environment,
			"Control",
		),
		"https://api.islo.dev",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/factories/%v/machines",
		request.Factory,
	)
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("cursor", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			DisableRetries:  options.DisableRetries,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(gosdk.ErrorCodes),
		}
	}
	readPageResponse := func(response *gosdk.ListPageMachineResponse) *core.PageResponse[*string, *gosdk.MachineResponse, *gosdk.ListPageMachineResponse] {
		var zeroValue *string
		next := response.GetNextCursor()
		results := response.GetItems()
		return &core.PageResponse[*string, *gosdk.MachineResponse, *gosdk.ListPageMachineResponse]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue || *next == "",
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.Cursor)
}

// Example:
//
//	request := &gosdk.MachineCreate{
//	    Factory: "factory",
//	    Name: "name",
//	}
//	client.Machines.CreateFactoryMachine(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) CreateFactoryMachine(
	ctx context.Context,
	request *gosdk.MachineCreate,
	opts ...option.RequestOption,
) (*gosdk.MachineResponse, error) {
	response, err := c.WithRawResponse.CreateFactoryMachine(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	request := &gosdk.GetFactoryMachineRequest{
//	    Factory: "factory",
//	    Name: "name",
//	}
//	client.Machines.GetFactoryMachine(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) GetFactoryMachine(
	ctx context.Context,
	request *gosdk.GetFactoryMachineRequest,
	opts ...option.RequestOption,
) (*gosdk.MachineResponse, error) {
	response, err := c.WithRawResponse.GetFactoryMachine(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	request := &gosdk.DeleteFactoryMachineRequest{
//	    Factory: "factory",
//	    Name: "name",
//	}
//	client.Machines.DeleteFactoryMachine(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) DeleteFactoryMachine(
	ctx context.Context,
	request *gosdk.DeleteFactoryMachineRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.DeleteFactoryMachine(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// Example:
//
//	request := &gosdk.MachineUpdate{
//	    Factory: "factory",
//	    Name: "name",
//	}
//	client.Machines.UpdateFactoryMachine(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) UpdateFactoryMachine(
	ctx context.Context,
	request *gosdk.MachineUpdate,
	opts ...option.RequestOption,
) (*gosdk.MachineResponse, error) {
	response, err := c.WithRawResponse.UpdateFactoryMachine(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	request := &gosdk.BuildFactoryMachineRequest{
//	    Factory: "factory",
//	    Name: "name",
//	}
//	client.Machines.BuildFactoryMachine(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) BuildFactoryMachine(
	ctx context.Context,
	request *gosdk.BuildFactoryMachineRequest,
	opts ...option.RequestOption,
) (*gosdk.MachineResponse, error) {
	response, err := c.WithRawResponse.BuildFactoryMachine(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
